@{
    ViewData["Title"] = "Admin Dashboard";
}
@using RmlBlogMvc.Data.Models;
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager
@model RmlBlogMvc.Models.AdminDashboardViewModel.DashboardViewModel

<div class="container-fluid">
    <h1 class="ml-5 mt-5">@((await UserManager.GetUserAsync(User)).FirstName) Blogs</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Blogs</li>
    </ol>
    <div class="row">
        @foreach (var blog in Model.Blogs)
        {
            <div class="col-lg-3 col-md-5 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/DataFiles/Blog_Files/BlogImages/@(blog.Id)/BlogImage.jpg" class="card-img-top"/>
                    <div class="card-body">
                        <div class="row" style="margin:0px auto 10px 0px;">
                            <div>
                                <h5 class="card-title mb-0">@blog.Title</h5>
                            </div>
                            <div class="ml-auto mr-3">
                                <i class="fas @(blog.Published? "fa-eye" : "fa-eye-slash")" style="color: @(blog.Published? "lawngreen" :"indianred" )"></i>
                            </div>
                        </div>
                        <div class="row ml-0">
                            <div>
                                <i class="fas fa-calendar-alt" style="color:gray"></i>
                            </div>
                            <p class="text-muted text-monospace ml-3 mb-0">Last edit: @blog.EditedTime.ToString("MM:dd:yyyy")</p>
                        </div>
                        <div class="row ml-0" style="bottom:0;">
                            <div><i class="fas fa-comment" style="color:gray"></i></div>
                            <p class="text-muted ml-3 mb-0">@blog.Posts.Count() comments</p>
                        </div>
                        <div class="row ml-0" style="bottom:0;">
                            <div><i class="fas fa-heart" style="color:darkred"></i></div>
                            <p class="text-muted ml-3 mb-0">@blog.LikesCount</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row align-items-center align-content-center align-self-center" >
                            <div class="col-auto">
                                <a asp-controller="Home" asp-action="Blog" asp-route-id="@blog.Id" class="btn btn-info">
                                    <i class="fa fa-arrow-alt-circle-right"></i> 
                                </a>
                            </div>
                            <div class="col-auto">
                                <a asp-controller="Blog" asp-action="EditBlog" asp-route-blogid="@blog.Id" class="btn btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                            <div class="col-auto">
                                <form asp-controller="Blog" asp-action="DeleteBlog" method="post">
                                    <button type="submit" class="btn btn-info" asp-route-blogid="@blog.Id">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                      
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

