
@model RmlBlogMvc.Models.UserViewModel.UserProfileViewModel
@{ 
    Layout = "_UserProfileLayout";
    ViewData["Title"] = Model._User.FirstName + " Profile";
}

<div class="container mt-2">
    <form asp-controller="Home" asp-action="UserProfile" asp-route-uid="@Model._User.Id" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group mb-3">
            <input asp-for="SearchRequest" type="text" class="form-control" placeholder="Search for something..." />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" style="padding:0 10px 0 10px">Submit</button>
            </div>
        </div>
    </form>

    <div class="row align-content-center">
        @foreach (var blog in Model.BlogsPagedList)
        {
            <div class="col-lg-12 col-md-12 mb-4">
                <div class="card border-0 shadow animated--fade-in">
                    <img src="~/DataFiles/Blog_Files/BlogImages/@blog.Id/BlogImage.jpg" class="card-img-top" />
                    <div class="card-body">
                        <div class="row" style="margin:0px 0px 0px 0px;">
                            <div>
                                <h3 class="card-title mb-0">@blog.Title</h3>
                            </div>
                        </div>
                        <div class="row ml-0 mt-3 align-items-center">
                            <div>
                                <i class="fas fa-calendar-alt " style="color:Highlight"></i>
                            </div>
                            <p class="text-muted ml-3 ">Last edit: @blog.EditedTime.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="row ml-0 align-items-center" style="bottom:0;">
                            <div><i class="fas fa-comment" style="color:Highlight"></i></div>
                            <p class="text-muted ml-3 ">@blog.Posts.Count() comments</p>
                        </div>
                        <div class="row ml-0 align-items-center" style="bottom:0;">
                            <div><i class="fas fa-heart" style="color:darkred"></i></div>
                            <p class="text-muted ml-3 ">@blog.LikesCount Like(s)</p>
                        </div>
                        
                    </div>
                    <div class="card-footer ">
                        <div class="row flex-fill nav-fill">
                            <div class="col-auto flex-fill nav-fill d-flex">
                                <a asp-controller="Home" asp-action="Blog" asp-route-blogid="@blog.Id" class="btn btn-info">
                                    <i class="fa fa-arrow-alt-circle-right"></i> Read blog
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <page-list-hider totall="@Model.BlogsPagedList.TotalItemCount">
        <pager class="pager-container" list="@Model.BlogsPagedList" options="@PagedList.Core.Mvc.PagedListRenderOptions.Bootstrap4PageNumbersOnly" asp-action="Index" asp-controller="Home" asp-route-search="@Model.SearchRequest"></pager>
    </page-list-hider>


</div>